
<div id="container" class="flexChild columnParent">

  <div id="columnChild62561" class="flexChild columnParent">
    <div id="columnChild18944" class="flexChild">
      <%= link_to 'My Blog', controller: 'articles' %>
    </div>

    <div id="columnChild62202" class="flexChild columnParent">
      <div id="columnChild94014" class="flexChild rowParent">
        <div id="rowChild72299" class="flexChild selected">
          <%= link_to 'New article', new_article_path %>

        </div>

        <div id="rowChild58269" class="flexChild">
          <h1>Hello, peeps!</h1>
        </div>
  </div>


  </div>
</div>

  <div id="columnChild22424" class="flexChild columnParent">


    <div id="columnChild35313" class="flexChild"></div>
</div>
</div>
